* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: #EFF6E0;
}

h2 {
    font-size: 40px;
    font-weight: 700;
    margin-top: 32px;
    color: #3B0086;
    text-align: center;
    margin-bottom: 20px;
}

main section {
    max-width: 1160px;
    margin: 0 auto;
    padding: 20px;
}

