.card-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.card {
    max-width: 305px;
    max-height: 280px;
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
    margin-top: 10px;
}

.card h3 {
    margin: 10px auto;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    color: #5A00A3;
}

.card-text {
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    margin-top: 10px;
}
