*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header {
    padding: 10px 10px 10px 10px;
    background-color: #5A00A3; 
}

header .menu-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

header .menu-logo img {
    width: 40px;
}
header h6{
    font-size: 24px;
    color: #FFF;
    font-weight: 500;
    line-height: 30px;
    
}

header ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 16px;
}

header ul li {
    font-weight: 300;
    line-height: 30px;
}

header li a {
    text-decoration: none;
    color: #DFF8EB;
    padding-bottom: 16px;
}

header li a:hover {
    color: #E4572E;
}

header li a.active {
    font-weight: 400;
    border-bottom: 2px solid #E4572E;
    color: #E4572E;
}

header li button {
    background-color: #3B0086;
    color: #FFF;
    border: none;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 4px;
    margin-left: 16px;
}

div>img{
    max-width: 100%;
}

.slider{
    margin: 0 auto;
    width: auto;
    height: 800px;
    overflow: hidden;
}

.slides{
    width: auto;
    display: flex;
}
.slides input{
    display: none;
}

.slide{

    position:relative;
}

.manual-navigation{
    position: relative;
}